# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Log files
logs/

# Keys directory
certs/

# Dependency directories (remove these if vendoring dependencies)
/vendor/

# IDE specific files
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# React
dist
node_modules
package-lock.json

# ENV files
.env