<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
<body>
    <div class="container">
        {{ template "header" . }}
        
        <div id="message" class="message"></div>
        
        <!-- React root element -->
        <div id="react-root"></div>
        
        <footer>
            <p>© 2025 CRAPP - Daily Symptom Reporting</p>
        </footer>
    </div>
    
    <!-- Include React component scripts as type="text/babel" -->
    <script type="text/babel" src="/static/js/react/context/AuthContext.jsx"></script>
    <script type="text/babel" src="/static/js/react/context/NotificationContext.jsx"></script>
    <script type="text/babel" src="/static/js/react/components/cpt/CPTTest.jsx"></script>
    <script type="text/babel" src="/static/js/react/components/form/SymptomForm.jsx"></script>
    <script type="text/babel" src="/static/js/react/App.jsx"></script>
    <script type="text/babel" src="/static/js/react/index.jsx"></script>
    
    <!-- Keep interaction tracker -->
    <script src="/static/js/interaction-tracker.js"></script>
</body>
</html>